body{

  text-align: center;
  background-color: black;
}
.bottom-container{
  background-color:#ddffbc;
  padding-bottom: 10px;
    padding-top: 10px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #1a1414;
  font-size: 10px;
  background: #75cfb8;
  padding: 7px 19px 10px 20px;

  text-decoration: none;
}

.btn:hover {
  background: #94ebcd;
  text-decoration: none;
}
.top1{

  background-color:#ffc2b4;
position:relative;
height: 500px;

}
.ma{
position: absolute;
top: 320px;
}
.c1{
  position: relative;
  height: 200px;
  width:200px;
top: 200px;
right: 320px;
}
.c2{
    position: relative;
    height: 200px;
    width:200px;
    top: 200px;
    left: 425px;
  }
h1{
  vertical-align: top;
  text-align-last: justify;
font-family: 'Lobster', cursive;
  display: inline;
text-align: center;

}
span{
  vertical-align: top;
  font-style: italic;
  font-size: 25px;
font-weight: bold;
    display: inline;

}
hr{

  border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
  width: 10%;
}
h3{
  color:#ffd3b4;
}
h2{
color:#ffd3b4;
}
p{  color:#ffe3fe;
  font-size: 20px;
  width: 50%;
  margin: auto;
}
.sp{
  position: relative;
  right: 250px;
  width: 150px;
    bottom: 100px;
    height: 100px;
}
.JAVA1{
  width: 10%;
}
.lg{

    width:550px;
    position: absolute;
right: 400px;
height: 250px;
    top: 250px;

  }
  .co{
    text-decoration: underline;
    color: #ffe268;
  }


.WEB1{
  width: 10%;
}
